<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		  
		  <strong>Contact</strong>:<br />
		  
		  Email: frolojeong@gmail.com <br />
		  Address: <br />
		  Industrial Science and Technology Research Institute<br />
		  Inha University <br />
		  100 Inha-ro, Muchuhol-gu, Incheon 22212, Korea<br />


	  </div>
	</div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
