<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		  
		  <strong>Contact</strong>:<br />
		  
		  Email: frolojeong@gmail.com <br />
		  Address: A-602, <br />
		  26, Gwangmyeongyeok-ro, Gwangmyeong, Gyeonggi Province, 14349, Republic of Korea<br />


	  </div>
	</div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
